// Colours
$body-bg: #ccc;
$btn-bg: #fff;
$brand-primary: #108146;
$brand-secondary: #8CC875;
$brand-info: $brand-secondary;
$heading-font-color: #70d075;

// Font
$font-family-sans-serif: 'Hind Vadodara', Helvetica, sans-serif;
$regular-font-weight: 300;
$bold-font-weight: 400;
$extra-bold-font-weight: 600;

// Buttons
$btn-default-color: $brand-primary;
$btn-default-bg: $btn-bg;
$btn-font-weight: $extra-bold-font-weight;