// import Google font
@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara:300,400,600);
//override boostrap variables
@import "_variables";
// include bootstrap styles
@import "../vendor/bootstrap-sass-3.3.6/assets/stylesheets/_bootstrap.scss";

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $gray-base;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $gray-base;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $gray-base;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $gray-base;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: $gray-base;
}

body {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $brand-primary;
  font-weight: $extra-bold-font-weight;
}

.strong {
  font-weight: $extra-bold-font-weight;
}

.container {
  width: 100%;
}

.screen-3 {
  margin-top: 40px;
}

.panel-primary {
  border: 0;
  border-radius: 0;
  box-shadow: $brand-primary 5px 5px 10px;
  .panel-heading {
    border-radius: 0;

    .panel-title {
      color: $heading-font-color;
      font-size: 1.6em;
      font-weight: $regular-font-weight;
      line-height: 1em;
      letter-spacing: 0;
      text-align: center;
    }
  }
}

.btn {
  border: 0;
  box-shadow: $brand-primary 5px 5px 10px;
  border-radius: 40px;
  font-size: 1.6em;
  &:hover {
    background-color: $btn-bg;
    color: $brand-primary;
  }
}
.pull-center {
  margin: 0 auto;
}
.navbar {
  height: 35px;
  background-color: $brand-primary;
  margin-bottom: 0;
  border-radius: 0;
  margin-top: 45px;

  ul.nav-pills {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 15px;
    li {
      margin: 0;
      padding: 0 5px;
      width: 33%;
      a {
        background-color: $brand-secondary;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        padding: 10px;
        .icon {
          width: 40px;
          height: 40px;
          max-width: 100%;
        }
      }
    }
  }
}

form button[type=submit] {
  width: 100%;
}

form input.form-control {
  padding: 0 5px;
  margin: 10px 0;
  background-color: $body-bg;
  border: 1px $gray solid;
  border-radius: 0;
  font-size: 1.2em;
}

/* Media Quieries */

// Custom, iPhone Retina
@media only screen and (min-width: 320px) {
  body {
    font-size: 16px;
  }
}

// Extra Small Devices, Phones
@media only screen and (min-width: 480px) {
  body {
    font-size: 18px;
  }
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .navbar ul.nav-pills li {
    padding: 0 15px;
    a {
      width: 80px;
      height: 80px;
      padding: 15px;
      .icon {
        width: 50px;
        height: 50px;
      }
    }
  }
  .panel-primary .panel-heading .panel-title {
    letter-spacing: 1px;
  }
  .screen-3 {
    margin-top: 100px;
  }
}

// Small Devices, Tablets
@media only screen and (min-width: 768px) {
  .screen-3 {
    margin-top: 150px;
  }
}